body{
  background-color: #000000;
}

h1{
  color: #FFFFFF;
  text-align: center;
  font-size: 50px;
}

.main-nav{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #000000;
  padding: 10px;
}

.nav-item{
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
}

.nav-item:hover{
  color: #FFFFFF;
  text-decoration: underline;
}